---
---

@charset "utf-8";

@use "sass:math";
@use "sass:string";

@use "variables" with (
  $max-content-width: {{ site.max_width | default: "930px" }}
);

@use "themes";
@use "layout";
@use "typography";
@use "navbar";
@use "footer";
@use "blog";
@use "publications";
@use "components";
@use "utilities";
@use "tabs";
@use "teachings";
@use "typograms";

/* =========================================
   Isabel custom styles
   ========================================= */

/* BLUE THEME */
:root {
  --global-theme-color: #0076df !important;
  --global-hover-color: #0076df !important;
}

html[data-theme="dark"] {
  --global-theme-color: #2698ba !important;
  --global-hover-color: #2698ba !important;
}

/* Hide ctrl k text but keep magnifying glass */
#search-toggle .nav-link {
  font-size: 0 !important;
}

#search-toggle .nav-link i {
  font-size: 1rem !important;
}
